.about-container{
  margin-top: 100px;
  
    width: 100%;
    min-height: 100vh;
   object-fit: contain;
    display: flex;
    flex-direction: column;
   
}

.about-title{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url('../../media/aboutTitle.png');
}

.about-title h1{
    font-size: 50px;
   text-align: center;
   color: white;
padding: 70px;
}



.about-desc{
    min-height: 110vh;
    background-color: hsl(0, 18%, 97%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 100px 0 100px 0;
    
}

.about-desc img{
    border-radius: 12px;
    width: 30%;
}

.about-desc-text{
    width: 40%;
}
.about-desc-text h1{
   text-align: center;
   margin-bottom: 20px;
   font-size: 35px;
}

.about-desc-text p{
    text-align: center;
    font-size: 20px;
 
 }


 @media only screen and (max-device-width: 750px) {
   
    .about-desc{
        flex-direction: column;   
       
    }
    .about-desc img{
        width: 50%;
        margin-bottom: 70px;
    }

    .about-desc-text{
        width: 90%;
    }
    .about-desc-text h1{
       text-align: center;
       margin-bottom: 20px;
       font-size: 30px;
    }
    
    .about-desc-text p{
        text-align: center;
        font-size: 15px;
     
     }
    
  }