.metodologia-container{
    min-height: 100vh;
   
    background-color: hsl(0, 18%, 97%);
    
      width: 100%;
      min-height: 100vh;
     object-fit: contain;
      display: flex;
      flex-direction: column;
     
  }
  
  .metodologia-title{
      width: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;



  }
  
  .metodologia-title h1{
      font-size: 70px;
 
     text-align: center;
     color: rgb(11, 155, 11);
  padding: 70px;
  }
  
  
  
  .metodologia-desc{

   
      display: flex;
      justify-content: space-around;
    
      width: 100%;
      padding: 100px 0 100px 0;
      
  }
  
  .metodologia-desc img{
      border-radius: 12px;
      width: 30%;
  }
  
  .metodologia-desc-text{
      
      width: 40%;
  }
  .metodologia-desc-text h1{
     text-align: center;
     margin-bottom: 20px;
     font-size: 35px;
  }
  
  .metodologia-desc-text p{
    font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 20px;
   
   }
  
  
   @media only screen and (max-device-width: 750px) {

    .metodologia-title h1{
        font-size: 50px;
        padding: 50px 0 0 0;
       
    }
     
      .metodologia-desc{
          flex-direction: column;   
          align-items:center;
          padding:50px 0
      }
      .metodologia-desc img{
          width: 50%;
          margin-bottom: 70px;
      }
  
      .metodologia-desc-text{
          padding-top: 20px;
          width: 90%;
      }
      .metodologia-desc-text h1{
         text-align: center;
         margin-bottom: 20px;
         font-size: 30px;
      }
      
      .metodologia-desc-text p{
          text-align: center;
          font-size: 15px;
       
       }
      
    }